Reactive Forms
<input type="text" [formControl]="favoriteColorControl">
Template Driven (ngModel):
<input type="text" [(ngModel)]="favoriteColor">

<br/>
<br/>
Validação em Template Driven
<br/>
<input type="text" id="nome" [(ngModel)]="nome"#name="ngModel" required minlength="3"
 appTextoProibido="Andrew" >
<div *ngIf="name.invalid && (name.dirty || name.touched)" >
    <div *ngIf="name.errors?.required">
        Favor preencher o campo
      </div>
      <div *ngIf="name.errors?.minlength">
        No minimo 3 caracteres
      </div>
      <div *ngIf="name.errors?.textoProibido">
        Não pode ser Andrew.
      </div>      
</div>
<br/>
Cross Field Validation em Template Driven
<form #form="ngForm" appSenhaIgual>
  Senha
  <input type="password"
  id="senha"
  name="senha"
  [(ngModel)]="senha">
  Confirmação
  <input type="password"
  id="senhaConfirmacao"
  name="senhaConfirmacao"
  [(ngModel)]="senhaConfirmacao">  
  <div *ngIf="form.errors?.senhasNaoBatem && (form.touched || form.dirty)" >
    As senhas não batem
</div>
</form>
